.thead-fix{
  position: sticky;
  top: 0;
  box-shadow: 1px 0px 0px 0px #73A839;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

input[type=number] { -moz-appearance:textfield; }

